@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    width: 100vh;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(../../public/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-container{
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chart-container{
 overflow: hidden;
}

.lw-attribution {
  position: absolute;
  left: 0px;
  top: 5%;
  z-index: 3; 
  padding: 10px 0px 0px 12px;

}

.symbol-btn-container{
  display: flex;
  justify-content: space-around;
}

